.card{
  width: 30px;
  height: 50px;
  border: 1px solid #000;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 4px 6px;   
  border-radius: 4px;
  text-align:left;    
  color: black;
  font-size: 11px;
  line-height:normal;

  display: flex;
  align-items: center;
  font-weight: bold;
  
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: navy;
  border-radius: 2px;
}
