.gamePage{
  position: absolute;
  background-color: honeydew;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-table {
  position: relative;
  width: 800px;
  height: 600px;
  background-color:honeydew; 
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}


.player {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
}

.opponent {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
}

.player {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.opponent.one {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.opponent.two {
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(-90deg);
}

.opponent.three {
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg);
}

.opponent.four {

}

.opponent.five{

}

.Name{
  color: black;
}